[submodule "vim-surround"]
	path = .local/share/nvim/site/pack/editing/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
	branch = master
[submodule "vim-repeat"]
	path = .local/share/nvim/site/pack/editing/start/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
	branch = master
[submodule "tabular"]
	path = .local/share/nvim/site/pack/editing/start/tabular
	url = https://github.com/godlygeek/tabular.git
	branch = master
[submodule "emmet-vim"]
	path = .local/share/nvim/site/pack/editing/start/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
	branch = master
[submodule "nvim-lspconfig"]
	path = .local/share/nvim/site/pack/editing/start/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig.git
	branch = master
[submodule "nerdcommenter"]
	path = .local/share/nvim/site/pack/editing/start/nerdcommenter
	url = https://github.com/preservim/nerdcommenter.git
	branch = master
[submodule "fzf.vim"]
	path = .local/share/nvim/site/pack/editing/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
	branch = master
[submodule "vim-polyglot"]
	path = .local/share/nvim/site/pack/editing/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
	branch = master
[submodule "rnvimr"]
	path = .local/share/nvim/site/pack/editing/start/rnvimr
	url = https://github.com/kevinhwang91/rnvimr
	branch = main
[submodule "nvim-bufferline.lua"]
	path = .local/share/nvim/site/pack/editing/start/nvim-bufferline.lua
	url = https://github.com/akinsho/nvim-bufferline.lua
	branch = master
[submodule "nvim-web-devicons"]
	path = .local/share/nvim/site/pack/editing/start/nvim-web-devicons
	url = https://github.com/kyazdani42/nvim-web-devicons
	branch = master
[submodule "nvim-yarp"]
	path = .local/share/nvim/site/pack/editing/start/nvim-yarp
	url = https://github.com/roxma/nvim-yarp
	branch = master
[submodule "nvim-treesitter"]
	path = .local/share/nvim/site/pack/editing/start/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter
	branch = 0.5-compat
